/**
 * Arquivo que contém as definições de estilo da página de pesquisa dos produtos.
 *
 * Modifica os seguintes itens:
 * - Formulário de busca
 */

/*********************************************************************************************************************/
/**                                                      SEARCH                                                     **/
/*********************************************************************************************************************/

/**
 * Estilo do formulário.
 * - <form>
 * - <div>
 * - <fieldset>
 */
.search-form {
	/* Disposição */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search-form-field {
	/* Disposição */
	display: flex;
	flex-direction: row;
	justify-content: center;

	/* Tamanho */
	width: 80%;

	/* Espaçamento */
	margin: auto;
}
.search-by {
	/* Disposição */
	flex: 2;

	/* Espaçamento */
	margin: 1em;
	border: 1px solid #BBB;
	border-top: 0;
	border-radius: 10px;
}
.search-in {
	/* Tamanho */
	width: 35%;

	/* Espaçamento */
	margin: 1em;
	border: 1px solid #BBB;
	border-top: 0;
	border-radius: 10px;
}

/**
 * Estilo do conteúdo do formulário.
 * - <legend>
 * - <input>
 */
.search-form legend {
	/* Espaçamento */
	margin-bottom: 1em;
    margin-left: 2em;
	padding: .5em;
    border-bottom: 1px solid #BBB;
    border-radius: 0 0 0 10px;
}
.search-by .search-input-section {
	/* Disposição */
	display: flex;
	flex-direction: column;

	/* Espaçamento */
	padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
}
.search-in .search-input-section {
	/* Disposição */
	display: flex;
	flex-direction: column;
	justify-content: center;

	/* Espaçamento */
    padding-left: 2em;
    padding-right: 2em;
}
.search-input {
	/* Disposição */
	flex-grow: 1;

	/* Espaçamento */
	margin: 1em;
	padding: .5em;
}
.search-category {
	/* Espaçamento */
    margin: .3em;
	padding: .35em;
    border: 1px solid #BBB;
    border-radius: 10px;
}

/**
 * Estilo do botão do formulário.
 * - <button>
 */
.search-button {
	/* Tamanho */
	width: 20em;

	/* Espaçamento */
	margin: auto;
	margin: 1em;
	padding: .5em;

	/* Texto */
    font-size: 1.25em;
}
